# [tool.ruff]
# select = ["E", "F", "B", "D", "C"]
lint.select = ["ALL"]
line-length = 100
target-version = "py310"

# Let's keep the codes in alphabetical order:
lint.ignore = [
    "ANN101" # Missing type annotation for `self` in method
    , "ANN102" # Missing type annotation for `cls` in classmethod
    , "PLR0913" # Too many arguments to function call
    , "D107"  # Missing docstring in `__init__`
    , "D203" # one-blank-line-before-class` incompatible with `no-blank-line-before-class` (D211)
    , "D213" # `multi-line-summary-second-line` incompatible with  `multi-line-summary-first-line` (D212)
    , "D400" # First line should end with a period
    , "D415" # [*] First line should end with a period, question mark, or exclamation point
    , "EM101" # Exception must not use a string literal, assign to variable first"
    , "EM102" # EM102 Exception must not use an f-string literal, assign to variable first
    , "ERA001" # Commented out code
    , "FBT001" # Boolean positional arg in function definition
    # Doesn't make much sense to activate this one if we are forcing it to be ignored, pretty much everytime
    # it happens on old code...
    , "FBT002" # Boolean default value in function definition
    , "N812" #  N812 Lowercase `date` imported as non-lowercase `Date`
    , "Q000" # Single quotes found but double quotes preferred
    , "RET505" # Unnecessary `else` after `return` statement
    , "RET506" # Unnecessary `else` after `raise` statement
    , "T201" # `print` found
    , "T203" # `pprint` found
    , "TD003" # TD003 Missing issue link on the line following this TODO
    , "TRY003" # Avoid specifying long messages outside the exception class
    , "UP006" # [*] Use `dict` instead of `Dict` for type annotations
    , "UP007" # [*] Use `X | Y` ~  Union[X, Y]   for type annotation, python 3.10
    , "Q000" # Single quotes found but double quotes preferred
]

# Can be safely auto-fixed:
# D202,D204,D208,D209,D210,D212
# D202 [*] No blank lines allowed after function docstring (found 1)
# D204 [*] 1 blank line required after class docstring
# D208 [*] Docstring is over-indented
# D209 [*] Multi-line docstring closing quotes should be on a separate line
# D210 [*] No whitespaces allowed surrounding docstring text
# D212 [*] Multi-line docstring summary should start at the first line
# COM812 [*] Trailing comma missing

exclude = [
    ".git/",
    ".venv/",
    "notebooks/",
    # Databriks notebooks used by jobs, !pip install class at the beginning
    # gets marked as syntax error
    "db_scripts/Ingest_new_files.py",
    "db_scripts/transform_silver_events.py",
    "db_scripts/transform_silver_gkg.py",
    "db_scripts/transform_silver_gkg_counts.py",
]


[lint.per-file-ignores]
# We feel it is justified given that functions with this problem are end-point functions
# which are not really called by our code anywhere but only by FastAPI's framework.
"dcs_buyer/svc/fastapi_routes.py" = [ "PLR0913" ]

# No need to document tests as it's usually obvious what they are testing.
# Also assert is Ok en tests!
"tests/**" = ["S101", "D103"]
"db_scripts/*" = [
    "E501",
    "FBT003", # FBT003 Boolean positional value in function call
    "ANN201", # ANN201 Missing return type annotation for public function `download_and_extract_csv`
    "INP001", # is part of package
    "COM812" # Trailing comma missing
]

"data_proc/delta_tables_helper.py" = [

    "ANN001", #  ANN001 Missing type annotation for function argument
    "D101", # Missing docstring public class
    "D102", # Missing docstring public methods
    "D106", # Missing docstring public nested class
    "E501", # Line too long
    "FBT003", # Boolean positional value in function call
    "PLR2004", # Magic numbers

]

"data_proc/widget_helper.py" = [
    "ANN001", #  ANN001 Missing type annotation for function argument
    "D103", # Missing docstring public fimctopm
    #  "D104", # Missing docstring public in public function
    #   # "E501", # Line too long
]
